<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arah">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ARAH">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.ARAH.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.ARAH.NoActionBar" />
        <activity
            android:name=".ActivityCredit"
            android:theme="@style/Theme.ARAH.PopMe" />
        <activity
            android:name=".ActivityAbout"
            android:theme="@style/Theme.ARAH.PopMe" />
        <activity
            android:name=".ActivityEmailMe"
            android:theme="@style/Theme.ARAH.PopMe" />
        <activity
            android:name=".AsmaulHusnaActivity"
            android:theme="@style/Theme.ARAH.NoActionBar" />
        <activity
            android:name=".ActivityAsmaulHusnaDetail"
            android:theme="@style/Theme.ARAH.NoActionBar" />
        <activity
            android:name=".ActivityQuiz"
            android:theme="@style/Theme.ARAH.NoActionBar" />
        <activity
            android:name=".ActivityQuizSession"
            android:theme="@style/Theme.ARAH.NoActionBar" />
        <activity
            android:name=".UnityHoldedActivity"
            android:theme="@style/Theme.ARAH.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>